extends ./layouts/main.jade

mixin subPageBar(title, link, icon, thumbnail)
	div.textImageBar
		table
			td.textBox
				div.label.withIcon
					img(src=icon)
					span= title
				block
				a.learnMore(href=link)
					span.text 더 자세히 알아보기
					span.icon >
			td.image.right
				a(href=link)
					img.boxShadow.border(src=thumbnail)

block title
	title= title

block links
	+stylesheet("/stylesheets/main.css")

block body
	div.container
		+banner("/images/products/header.jpg")

		+article("제품")
			p.text MEGADYNE은 여러 가지 표준 제품을 두루 갖고 있으면서 동시에 더욱 다양한 산업군의 요구사항을 충족할 수 있도록 특수 설계된 제품들도 폭넓게 제공합니다. 대표적으로 열 경화성 및 열 가소성 폴리우레탄 벨트, 고무 타이밍 벨트, V 벨트, 클램핑 플레이트, 타이밍바를 생산하고 있으며, 모든 제품은 요구사항에 맞게 맞춤제작이 가능합니다.

		+article()
			div.textImageBar
				table
					td.textBox.left
						div.label.withIcon
							img(src="/images/products/belt-icon.png")
							span 폴리우레탄 벨트
							
						p.text
							span 동력전달과 선형위치결정에 사용되는 MEGADYNE 폴리우레탄 타이밍벨트는 우수한 강도는 물론 편리한 사용과 유지보수의 용이성까지 고려하여 설계되었습니다. 자주 사용되는 표준과 모든 피치 게이지(㎜)에 대응되는 제품폭을 갖고 있으며, 추가적으로 이들의 양면 조합 여부나 벨트의 폭을 결정할 수 있습니다.
							br
							span 특별주문을 통해 내부 강철심을 케블라(Kevlar)로 대체할 수 있습니다.
	
					td.image
						div.horizontalList.twoRows
							a.imageLink(href="/products/polyurethane/megaflex")
								img(src="/images/products/polyurethane/megaflex.jpg")
								div.label
									img.verticalAligner
									span MEGAFLEX
							a.imageLink(href="/products/polyurethane/megaflat")
								img(src="/images/products/polyurethane/megaflat.jpg")
								div.label
									img.verticalAligner
									span MEGAFLAT
	
						div.horizontalList.threeRows
							a.imageLink(href="/products/polyurethane/megalinear")
								img(src="/images/products/polyurethane/megalinear.jpg")
								div.label
									img.verticalAligner
									span MEGALINEAR
							a.imageLink(href="/products/polyurethane/megapower")
								img(src="/images/products/polyurethane/megapower.jpg")
								div.label
									img.verticalAligner
									span MEGAPOWER
							a.imageLink(href="/products/polyurethane/megarib")
								img(src="/images/products/polyurethane/megarib.jpg")
								div.label
									img.verticalAligner
									span MEGARIB
	
			div.textImageBar
				table
					td.image
						div.horizontalList.twoRows
							a.imageLink(href="/products/rubber/v-belts")
								img(src="/images/products/rubber/v-belts.jpg")
								div.label
									img.verticalAligner
									span V-벨트
							a.imageLink(href="/products/rubber/pv-ribbed")
								img(src="/images/products/rubber/pv-ribbed.jpg")
								div.label
									img.verticalAligner
									span PV RIBBED 벨트
	
						div.horizontalList.twoRows
							a.imageLink(href="/products/rubber/megaflat-rubber")
								img(src="/images/products/rubber/megaflat-rubber.jpg")
								div.label
									img.verticalAligner
									span MEGAFLAT RUBBER
							a.imageLink(href="/products/rubber/isoran-synchronous")
								img(src="/images/products/rubber/isoran-synchronous.jpg")
								div.label
									img.verticalAligner
									span ISORAN SYNCHRONOUS

					td.textBox.right
						div.label.withIcon
							img(src="/images/products/belt-icon.png")
							span 고무 벨트
							
						p.text 대부분의 산업군에서 고무 벨트는 동력전달을 위해 널리 사용되고 있습니다. MEGADYNE의 고무 벨트는 양질의 재료들과 첨단기술로 만들어지고 있습니다.

	
			div.textImageBar
				table
					td.textBox.left
						div.label.withIcon
							img(src="/images/products/pulley-icon.png")
							span 풀리 (Pulley)
							
						p.text MEGADYNE은 벨트 종류만큼이나 다양한 풀리를 공급하고 있습니다.
	
					td.image
						div.horizontalList.twoRows
							a.imageLink(href="/products/pulley/pulleys")
								img(src="/images/products/pulley/pulleys.jpg")
								div.label
									img.verticalAligner
									span 풀리
							a.imageLink(href="/products/pulley/timing-bars")
								img(src="/images/products/pulley/timing-bars.jpg")
								div.label
									img.verticalAligner
									span 타이밍 바
	
						div.horizontalList.threeRows
							a.imageLink(href="/products/pulley/taper-bushes")
								img(src="/images/products/pulley/taper-bushes.jpg")
								div.label
									img.verticalAligner
									span 테이퍼 부쉬
							a.imageLink(href="/products/pulley/flanges")
								img(src="/images/products/pulley/flanges.jpg")
								div.label
									img.verticalAligner
									span 플랜지
							a.imageLink(href="/products/pulley/clamping-plates")
								img(src="/images/products/pulley/clamping-plates.jpg")
								div.label
									img.verticalAligner
									span 클램핑 플레이트
	
			div.textImageBar
				table
					td.image
						div.horizontalList.twoRows
							a.imageLink(href="/products/other/conveyor")
								img(src="/images/products/other/conveyor.jpg")
								div.label
									img.verticalAligner
									span 컨베어 벨트
							a.imageLink(href="/products/other/megablue")
								img(src="/images/products/other/megablue.jpg")
								div.label
									img.verticalAligner
									span MEGABLUE
	
						div.horizontalList.twoRows
							a.imageLink(href="/products/other/accu-link")
								img(src="/images/products/other/accu-link.jpg")
								div.label
									img.verticalAligner
									span ACCU-LINK
							a.imageLink(href="/products/other/megaweld")
								img(src="/images/products/other/megaweld.jpg")
								div.label
									img.verticalAligner
									span MEGAWELD
					td.textBox.right
						div.label.withIcon
							img(src="/images/products/belt-icon.png")
							span 기타제품
							
						p.text
							span MEGADYNE 벨트는 동력만 전달하는게 아닙니다.
							br
							span — 더욱 다양한 제품들이 준비되어 있습니다.
		
			div.textImageBar
				table
					td.textBox.left
						div.label.withIcon
							img(src="/images/products/belt-icon.png")
							span 특수 벨트
							
						p.text MEGADYNE은 다양한 종류의 코팅과 고마찰 옵션을 제공하고 있습니다.
	
					td.image
						div.horizontalList.twoRows
							a.imageLink(href="/products/special/special-execution")
								img(src="/images/products/special/special-execution.jpg")
								div.label
									img.verticalAligner
									span 주문제작
							a
							a.imageLink(href="/products/special/cover-properties")
								img(src="/images/products/special/cover-properties.jpg")
								div.label
									img.verticalAligner
									span 특수 코팅
							a.imageLink(href="/products/special/cleats")
								img(src="/images/products/special/cleats.jpg")
								div.label
									img.verticalAligner
									span 고마찰

